@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.App {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

button{
  margin-top: 1%;
  background-color: rgb(189, 173, 158);
  font-family: 'Indie Flower', cursive;
  font-weight: 700;
  width: auto;
  font-size: 22px;
  border-radius: 10%;
}